In [ ]:
import numpy as np
import pandas as pd
df=pd.read_excel('/content/SaleData.xlsx')
df

In [ ]:
#1. Write a Pandas program to create a Pivot table with multiple indexes
pd.pivot_table(df,index=['Region','SalesMan'])

In [ ]:
'''2. Write a Pandas program to create a Pivot table and find the total sale amount region wise,
manager wise.'''
pd.pivot_table(df,index=['Region','SalesMan'],values=['Sale_amt'],aggfunc=np.sum)

In [ ]:
'''3. Write a Pandas program to create a Pivot table and find the total sale amount region wise,
manager wise, sales man wise.'''
pd.pivot_table(df,index=['Region','Manager','SalesMan'],values=['Sale_amt'],aggfunc=np.sum)

In [ ]:
#4. Write a Pandas program to create a Pivot table and find the item wise unit sold.
pd.pivot_table(df,index=['Item'],values=['Units'],aggfunc=np.sum)

In [ ]:
#5. Write a Pandas program to create a Pivot table and find the region wise total sale.
pd.pivot_table(df,index=['Region'],values=['Sale_amt'],aggfunc=np.sum)

In [ ]:
#6. Write a Pandas program to create a Pivot table and find the region wise, item wise unit sold.
pd.pivot_table(df,index=['Region','Item'],values=['Units'],aggfunc=np.sum)

In [ ]:
'''7. Write a Pandas program to create a Pivot table and count the manager wise sale and mean value
of sale amount.'''
pd.pivot_table(df,index=['Manager'],values=['Sale_amt'],aggfunc=[np.mean])

In [ ]:
'''8. Write a Pandas program to create a Pivot table and find manager wise, salesman wise total sale
and also display the sum of all sale amount at the bottom.'''
pd.pivot_table(df,index=['Manager','SalesMan'],values=['Sale_amt'],aggfunc=[np.sum],fill_value=0,
               margins=True)

In [ ]:
'''9. Write a Pandas program to create a Pivot table and find the total sale amount region wise,
manager wise, sales man wise where Manager = "Douglas".'''
df1=pd.pivot_table(df,index=['Region','Manager','SalesMan'],values=['Sale_amt'])
print(df1.query('Manager==["Douglas"]'))

In [ ]:
'''10. Write a Pandas program to create a Pivot table and find the region wise Television and
Home Theater sold.'''
df1=pd.pivot_table(df,index=['Region',"Item"],values=['Units'])
print(df1.query('Item==["Television","Home Theater"]'))

In [ ]:
#11. Write a Pandas program to create a Pivot table and find the maximum sale value of the items.
pd.pivot_table(df,index=['Item'],values=['Sale_amt'],aggfunc=[np.max])

In [ ]:
#12. Write a Pandas program to create a Pivot table and find the minimum sale value of the items.
pd.pivot_table(df,index=['Item'],values=['Sale_amt'],aggfunc=[np.min])

In [ ]:
'''13.Write a Pandas program to create a Pivot table and find the maximum and minimum sale value
of the items'''
pd.pivot_table(df,index=['Item'],values=['Sale_amt'],aggfunc=[np.max,np.min])